<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HeatMap</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>

    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    <style>
        html {
            width: 100%;
            height: 100%;
        }

        body {
            width: 90%;
            height: 100%;
            margin: auto;
        }
    </style>
</head>
<body>
<div id="Container">

</div>
<div id="Container">
<p></p>
<p></p>
</div>
{% if  body %}
    {{ body|safe }}
{% endif %}
</body>
</html>